
  
 
  
 
  
.success-image{
  height:100vh;
  width:80vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suc-img{
  height:100px;
  width:100px;
}
  
  
  
.succcess-text{
  color:green;
}
 
  
  .input-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin:20px;

  }
  
  .input-label {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #475569;
  }
  
  .username-input-field {
    font-size: 14px;
    height: 40px;
    border: 1px solid #d7dfe9;
    background-color: #e2e8f0;
    color: #64748b;
    border-radius: 2px;
    border-radius: 7px;
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
    outline: none;
  }
  
  .password-input-field {
    font-size: 14px;
    height: 40px;
    border: 1px solid #d7dfe9;
    background-color: #e2e8f0;
    color: #64748b;
    border-radius: 2px;
    margin-top: 5px;
    padding: 8px 16px 8px 16px;
    outline: none;
    border-radius:7px;
  }
  
  .login-button {
    font-weight: bold;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 2px;
    background-color: #0b69ff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin:30px;
    outline: none;

    font-size: 14px;
    height: 40px;
    border-radius: 2px;
    border-radius: 7px;
    padding: 8px 16px 8px 16px;
    outline: none;
    margin:50px;

  }
  
  .error-message {
    align-self: start;
    font-size: 12px;
    margin-top: 3px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 16px;
    color: #ff0b37;
  }
 
  .form-container{
    min-height:100vh;
    display:flex;
    flex-wrap: wrap;
  }

  .title{
    color:#362e68;
font-weight:400;
font-size:33px;
line-height:43px;
margin-left:50px;
  }